$primary-color: #4e5da2;
$accent-color: #f8b117;
$tertiary-color: #bdcfe2;

$dark-tertiary: #354151;

$white: #fff;
$black: #000;

$dark-grey: #333;
$light-grey: #ddd;

$gradient: linear-gradient(
  19deg,
  darken($primary-color, 10%) 0%,
  $primary-color 100%
);
$btn-gradient: linear-gradient(
  $accent-color 0%,
  darken($accent-color, 10%) 80%
);
$btn-gradient-hover: linear-gradient(
  darken($accent-color, 10%) 0%,
  darken($accent-color, 10%) 100%
);

$mobile-gradient: linear-gradient(
  19deg,
  $tertiary-color 0%,
  $primary-color 50%
);

$shadow: 5px 5px 10px #d9d9d9, -5px -5px 10px $white;

$hover-shadow: 10px 10px 15px #a1b0c0, -10px -10px 15px $tertiary-color;

$default-font-size: 1.6rem;

$border-radius: 6px;

$transition: all 0.4s;
